<form ng-submit="find()" name="findContactForm">
	<div class='form-group'>
	 	<label class="col-sm-2 control-label">Find by Position</label>
		<a href='#!/contacts/find-by-position'><button type="button" class="btn btn-primary">Find!</button></a>
	</div>
	<div class='form-group'>
	 	<label class="col-sm-2 control-label">Find by Phone # </label>
		<a href='#!/contacts/find-by-phone'><button type="button" class="btn btn-primary">Find!</button></a>
	</div>
	<div class='form-group'>
	 	<label class="col-sm-2 control-label">Find by Position and Phone # </label>
		<a href='#!/contacts/find-by-both'><button type="button" class="btn btn-primary">Find!</button></a>
	</div>
</form>
